{% extends "base.html" %}
{% block content %}


<section class="about" id="about">
    <div class="about_div">
        <div class="img">
            <div>
                <video autoplay muted id="img2" loop>
                    <source src=" https://videos.pexels.com/video-files/30876559/13202358_1920_1080_24fps.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>

            


        </div>
        <div class="about_div1">
            <h1 id="about_head1">AboutUs</h1>

            <p class="about_detail">Welcome to the Wildlife Conservation System — a software-driven initiative dedicated to safeguarding nature through smart technology. As passionate developers, we have designed a web-based platform that simulates real-time environmental monitoring using virtual sensors such as temperature, pressure, motion, gas, and sound. Without relying on hardware, our system uses C-programmed simulations to generate sensor data every few minutes, storing it securely for analysis. This data is then monitored through our dynamic website, which alerts users to potential threats like forest fires, animal movement, or intrusions.

                Our goal is to raise awareness and support conservation efforts by offering an intelligent, accessible solution to help preserve wildlife and their habitats. With a strong focus on innovation and responsibility, we aim to bridge the gap between technology and nature.
                
                Through our platform, users can actively participate in wildlife protection by tracking real-time data and receiving alerts on critical events. Our system also offers insightful analytics to help identify patterns in environmental changes and animal behavior, aiding in better decision-making for conservation projects.
                
                Furthermore, by providing a simulation-based approach, we minimize the need for physical infrastructure, reducing costs and environmental impact while still ensuring accurate and reliable monitoring of wildlife and ecosystems.

            </p>

            <button class="btn12">More About Us</button>


        </div>
    </div>
</section>

{% endblock %}