{% extends "base.html" %}
{% block content %}
<div id="wildlife-spline-wrapper">
    <iframe src='https://my.spline.design/forestlightscopy-svt3Mc6BYJ2AP3k3BZfzN3en/' frameborder='0' width='100%' height='100%'></iframe>
</div>

<div id="wildlife-overlay-box">
    <h1 id="wildlife-title">Save Wildlife</h1>
    <p id="wildlife-subtitle">Join us in conserving nature for future generations.</p>
</div>

<!-- Centered Section -->
<div class="wildlife-section-wrapper">
  <section class="wildlife-section-content">
    <h1>SAVE THE WILDLIFE CREATURES</h1>
    <p>
      Protecting wildlife is not just about saving animals — it's about preserving the balance of nature for future generations. From the smallest insects to the largest mammals, every creature plays a vital role in our ecosystem. Join us in raising awareness, promoting conservation, and taking action to protect the incredible biodiversity that makes our planet thrive.
    </p>
    <div class="social">
      <a href="" style="--i:6"><i class='bx bxl-facebook'></i></a>
      <a href="" style="--i:7"><i class='bx bxl-instagram'></i></a>
      <a href="https://wa.me/+919025152341?text=I'm%20intrested%20in%20your%20car%20for%20sale" style="--i:8"><i class='bx bxl-whatsapp'></i></a>
      <a href="" style="--i:9"><i class='bx bxl-tiktok'></i></a>
  </div>
  </section>
</div>
{% endblock %}
